# git ignore

# logs
logs/
# dumps
exports/
# images
images/

# composer files.
composer-setup.php
composer.json
composer.lock
vendor/

# downloaded files
geckodriver-v0.34.0-linux64.tar.gz

# swap file for kate editor
..gitignore.kate-swp
